$color--body: #cfd3dc;
$color--white: #fff;
$color--black: #000;
$color--gray: #a6a9ad;
$color--gray-dark: #6b6d71;
$color--gray-light: #cfd3dc;
$color--text: #8d9095;

$screen--mobile-min: 320px;
$screen--mobile-max: 768px;
$screen--tablet-min: 769px;
$screen--laptop-min: 992px;
$screen--laptop-max: 1200px;
$screen--desktop-min: 1700px;
